.slider-tab{
	position: relative;
	color:#fff;
	height:487px;
	clear:both;
	overflow:hidden;
	.hero-video-icon {
	  z-index: 100;
	  position: absolute;
	  margin: 234px 0 0 614px;
	}
	&.tablets{
		margin-bottom: 13px;
		h1{
			font-size: 71px;
			font-family:'lg_smartlight';
			font-weight:normal;
		}
		.slider-description{
			margin:10px 0 0 217px;
		}
	}
	&.accessories{
		  margin-bottom: 22px;
		.slider-description{
			bottom: 0;
  			margin: 0 0 61px 180px;
		}
	}
	&.smartphones{
		margin-bottom: 21px;
		h2{
			font-family: 'lg_smartlight';
			font-size: 49px;
			font-weight: normal;
			line-height: 1em;
		}
		h3, p, ul{
			font-family: 'lg_smartlight';
			font-weight: normal;
			width: 205px;
		}
		h3{font-size: 22px;}
		p, ul{font-size: 18px;}
		ul{
			list-style:none;
			padding: 0;
		}
	}
	.slider-content{
		clear:both;
		position: absolute;
	}
	h2{
		font-family: 'lg_smartregular';
		font-size: 52px;
		font-weight: normal;
		line-height: 1em;
		margin: 0;
	}
	
	.slider-bg{
		z-index:-1;
		position: absolute;
	}
	.hero-video-icon{
		z-index:100;
		position: absolute;
		margin: 234px 0 0 614px;
	}
	.slider-description{
		width:425px;
		z-index:100;
		margin: 57px 0 0 199px;
		position:absolute;
		&.dark-font{
			color:#000;
		}
		p{
			font-family: 'lg_smartregular';
			font-size:16px;
			width:330px;
		}
		&.smartphones{
			color:#333;
			margin: 35px 0 0 199px;
		}
		//.small-font{font-size: 9px;}
	}
	$slider-nav-height: 87px;
	.slider-nav{
		background:#ccc;
		position:absolute;
		bottom:0;
		width: 100%;
		height: $slider-nav-height;

		h3{
			font-family: 'Arial';
			font-weight: bold;
			font-size: 12px;
			color: #000;
			margin:1.3em 0 0 0;
		}
		p{
			margin:0;
		}
		ul{
			>:first-child{border-left: 1px solid #fff;}
  			width: 1002px;
  			margin: 0 auto;
  			padding: 0;
		}
		li{
			width: 247px;
			height: $slider-nav-height;
			padding: 6px 0 0 0;
			border-right: 1px solid #fff;
			margin: 0;
			float: left;
			list-style: none;
			position: relative;
			cursor:pointer
		}
		.active{
			background:#FFF;
			&:before{
				border-top-color: #fff;
				content: "";
				z-index: 1000;
				border-bottom: 16px solid #fff;
				border-left: 16px solid transparent;
				border-right: 16px solid transparent;
				margin: -22px 110px;
				position: absolute;
			}
		}
		a{float:none;}
		img{
			float: left;
			position:absolute;
		}
		.slider-nav-desc{
			width: 120px;
			float: right;
			font-family: 'Arial';
			font-weight: normal;
			font-size: 12px;
			color: #666;
			padding-right: 7px;
			margin-left: 13px;
			position:absolute;
			z-index: 100;
			right: 0;
		}
	}
}