.black-button{
	border: 1px solid #fff;
  background: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Arial';
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 1em 43px;
  display: inline-block;
  margin: 1em 0 1em 0;
}
.right{float:right;}
.left{float:left;}