.black-button{
	border: 1px solid #fff;
  background: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Arial';
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  padding: 1em 43px;
  display: inline-block;
  margin: 1em auto;
  &.pre-order-now{
    padding: 1em 20px;
  }
  &.buy-now{
    padding: 1em 58px;
  }
}
.right{float:right;}
.left{float:left;}
.flex-reverse{flex-direction: row-reverse;}
.highlighted{color:#bd0f52;}
