.slider-tab{
	position: relative;
	color:#fff;
	height:482px;
	clear:both;
	h2{
		font-family: 'lg_smartregular';
		font-size: 52px;
		font-weight: normal;
		line-height: 0;
	}
	
	.slider-bg{
		z-index:0;
		position: absolute;
	}
	.slider-description{
		width:380px;
		z-index:100;
		margin: 57px 0 0 199px;
		position:absolute;
		p{
			font-family: 'lg_smartregular';
			font-size:16px;
		}
	}
	.slider-nav{
		background:#ccc;
		position:absolute;
		bottom:0;
		width: 100%;
		height: 81px;

		h3{
			font-family: 'Arial';
			font-weight: bold;
			font-size: 12px;
			color: #000;
			margin:1.3em 0 0 0;
		}
		p{
			margin:0;
		}
		ul{
			>:first-child{border-left: 1px solid #fff;}
  			width: 1002px;
  			margin: 0 auto;
  			padding: 0;
  			height: 81px;
		}
		li{
			background: url("../images/slider-nav-bg-element.png") no-repeat scroll 0px 10px transparent;
			width: 247px;
			height: 75px;
			padding: 6px 0 0 0;
			border-right: 1px solid #fff;
			margin: 0;
			float: left;
			list-style: none;
		}
		.active{
			background: url("../images/slider-nav-bg-element.png") no-repeat scroll 0px 10px #fff;
			&:before{
				border-top-color: #fff;
				content: "";
				z-index: 1000;
				border-bottom: 16px solid #fff;
				border-left: 16px solid transparent;
				border-right: 16px solid transparent;
				margin: -23px 110px;
				position: absolute;
			}
		}
		a{float:none;}
		img{float: left;}
		.slider-nav-desc{
			width: 120px;
			float: left;
			font-family: 'Arial';
			font-weight: normal;
			font-size: 12px;
			color: #666;
			padding-right: 7px;
			margin-left: 13px;
		}


	}
}