.product-spotlight{
	position: relative;
  	clear: both;
  	height: 1338px;
  	margin-bottom: 41px;
  	&.overview{
		height: 1416px;
		margin-bottom: 56px;
  	}
	&.tablets{
		margin-bottom: 55px;
	}
	&.accessories{
		margin-bottom: 43px;
	}
	&.smartphones{
		.section-content{
			.medium-product-set{
				width:100%;
			}
		}
	}
	.medium-product-set{
		li{float:left;}
	}		
	.medium-size{font-size:30px;}
	h3{
		font-family: 'lg_smartsemibold';
		font-size: 70px;
		margin: 0;
		padding: 0;
		float: left;
		margin-top: 0;
		margin-right: 25px;
		line-height: .7em;
		&.accesories{
			font-family: 'lg_smartlight';
			font-size: 44px;
			  margin: 18px 0 0 0;
			font-weight: normal;
		}
	}
	.section-bar{
		position: absolute;
		z-index: 100;
		width: 100%;
		color:#fff;
		padding: 27px 0;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjciLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-linear-gradient(top,  rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.7)), color-stop(100%,rgba(0,0,0,0.7)));
		background: -webkit-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
		background: -o-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
		background: -ms-linear-gradient(top,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
		background: linear-gradient(to bottom,  rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.7) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 );
		p{
			margin-right: 10px;
			line-height: 1.3em;
		}
		&.bar-tablets{
			p{
				font-family:'Arial';
				font-weight:bold;
				margin: 25px 0 0 36px;
				font-size:18px;
				float:left;
			}
			.section-bar-logo{
				float: left;
			}
		}
		&.bar-accesories{
			.section-bar-logo{
				margin: 22px 0 0 0;
			}
		}
		&.bar-overview{
			p{
				float: left;
				max-width: 515px;
			}
		}
		.black-button{
			float: right;
		}

	}
	.section-content-bg{
		z-index: 0;
  		position: absolute;
	}
	.section-content{
		padding-top: 163px;
		position: relative;
		ul{
			margin: 0;
  			padding: 0;
		}
		li{
			list-style: none;
			margin: 0 3px 0 0;
		}
		&.content-smartphones{
			.banner-product-desc{
				p{line-height:1.1em;}
			}
		}
		&.content-tablet{
			padding-top: 163px;
			&.right{
				 flex-direction: row-reverse;
			}
		}
		>img{
  			margin-right:3px;
  		}
		.banner-product-desc{
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWZlZiIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMiUiIHN0b3AtY29sb3I9IiNlZWVmZWYiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVmZWYiIHN0b3Atb3BhY2l0eT0iMC44Ii8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(top,  rgba(238,239,239,0.8) 0%, rgba(238,239,239,0.8) 2%, rgba(238,239,239,0.8) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,239,239,0.8)), color-stop(2%,rgba(238,239,239,0.8)), color-stop(100%,rgba(238,239,239,0.8)));
			background: -webkit-linear-gradient(top,  rgba(238,239,239,0.8) 0%,rgba(238,239,239,0.8) 2%,rgba(238,239,239,0.8) 100%);
			background: -o-linear-gradient(top,  rgba(238,239,239,0.8) 0%,rgba(238,239,239,0.8) 2%,rgba(238,239,239,0.8) 100%);
			background: -ms-linear-gradient(top,  rgba(238,239,239,0.8) 0%,rgba(238,239,239,0.8) 2%,rgba(238,239,239,0.8) 100%);
			background: linear-gradient(to bottom,  rgba(238,239,239,0.8) 0%,rgba(238,239,239,0.8) 2%,rgba(238,239,239,0.8) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cceeefef', endColorstr='#cceeefef',GradientType=0 );
			width: 567px;
  			padding: 26px 37px;
  			margin-bottom: 3px;
  			p{
  				font-family: 'lg_smartlight';
  				font-size:48px;
  				line-height: 1.3em;
  				margin: 30px 0 0 0;

  			}
  			ul{
			  display: inline-block;
			  margin: 0 0 36px 23px;
  			}
  			li{
  			  list-style: disc;
			  font-family: 'Arial';
			  font-size: 24px;
			  color: #666;
			  line-height: 1.4em;
  			}
  			.black-button{
  				display:table;
  			}
		}

		.primary-product{
			float:left;
			position:relative;
			margin: 0 3px 0 0;
		}
		.primary-product-desc{
			z-index: 100;
			position: absolute;
			top:0;
			width:250px;
			&.overview{
				margin: 194px 0 0 38px;
				&.top-left{
					margin: 39px 0 0 49px;
				}
			}
			p{
				font-family: 'Arial';
				font-weight: normal;
				color: #666;
				font-size:19px;
				&.small-font{font-size: 12px;}
				&.medium-desc{
					font-size:30px;
				}
			}
		}
		.seconday-product{
			position:relative;
		}
		h4{
			font-family: 'Arial';
			font-weight: normal;
			color: #666;
			z-index: 100;
			position: absolute;
			margin: 125px 0 0 21px;
			&.top-left{margin:20px 0 0 20px;}
			&.bottom-left{
				  bottom: 28px;
				  margin-left: 20px;
				  width:127px;
			}
			&.bottom-right{
				bottom: 28px;
				width:127px;
				right:0;
			}
		}
		
	}
}